body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f0f0f0;
}

.scene {
    position: relative;
    height: 300px;
    width: 1280px;
    overflow: hidden;
    background-color: #228B22;
}

.road {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 120px;
    background: rgb(22, 22, 22);
    border-top: 5px solid rgb(55, 55, 55);
    border-bottom: 5px solid rgb(55, 55, 55);
}

.car {
    position: absolute;
    bottom: 50%;
    left: 0;
    transform: translateY(50%);
    width: 200px;
    height: 80px;
    animation: drive 3s ease-in-out forwards;
}

.car_roof {
    position: absolute;
    top: 0;
    left: 25px;
    width: 100px;
    height: 40px;
    background: red;
    border-radius: 10px 10px 0 0;
}

.car_body {
    position: absolute;
    top: 40px;
    width: 180px;
    height: 40px;
    background: red;
    border-radius: 5px;
    left: 10px;
}

.window {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 90px;
    height: 25px;
    background: #8bdeff;
    border-radius: 5px;
}

.wheel_front, .wheel_back {
    position: absolute;
    bottom: -15px;
    width: 30px;
    height: 30px;
    background: #333;
    border-radius: 50%;
    border: 3px solid #666;
}

.wheel_front {
    left: 25px;
}

.wheel_back {
    right: 25px;
}

@keyframes drive {
    from { left: -200px; }
    to { left: calc(100% - 250px); }
}
